* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ddf;
  margin: 0;
}
header {
  text-align: center;
  color: #ddf;
  background-color: #048;
  padding: 15px;
}
section {
  padding: 60px;
}
section h1 {
  color: #048;
  padding: 5px;
}
section h2 {
  color: #04a;
  padding: 5px;
  text-indent: 30px;
}
section p {
  text-indent: 60px;
  text-align: justify;
}
footer {
  clear: both;
  background-color: #048;
  padding: 15px;
  transition: 5s;
}
footer a {
  text-decoration: none;
  text-align: center;
  color: #048;
  display: block;
}
footer:hover {
  background-color: #ddf;
}
span {
  color: #f00;
}
span.atr {
  color: #804;
  font-weight: bold;
}
