hr {
  border: 8px solid #f02;
  margin: 5px;
}
h2 {
  text-shadow: 2px 2px 2px #000;
  }
a:link, visited {
  color: white;
  background-color: #668;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, active {
  padding: 5px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}
#a1 {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
.top h1 {
  background-color: #f02;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  margin: 2px;
  float: none;
}
.top h2 {
  background-color: #f04;
  padding: 12px;
  text-align: center;
  overflow: hidden;
  float: none;
}
.top a {
  display: block;
  text-align: left;
  padding: 12px;
  background-color: #f50;
  color: #000;
}
.top a:hover {
  background-color: #f58;
}
