* {
  box-sizing:border-box;
}
.left {
  background-color:#29f;
  padding:20px;
  float:left;
  width:20%;
}
.main {
  background-color:#fff;
  padding:20px;
  float:left;
  width:60%;
}
.right {
  background-color:#4a5;
  padding:20px;
  float:left;
  width:20%;
}
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
}
